body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}

h2 {
    font-weight: 700;
}

.table th, .table td {
    vertical-align: middle;
}

.btn-success {
    background-color: #28a745;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #218838;
}
