footer {
    background: #f8f8f8;
    color: #333;
    font-family: Arial, sans-serif;
    padding: 20px 40px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    
  }
  .logo {
    max-width: 100%;
    width: 200px; 
    height: 100px; 
    display: block; 
    
  }
  
  .footer-section {
    flex: 1 1 200px;
    max-width: 250px;
  }
  
  .footer-section h4, h3 {
    margin-bottom: 15px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #333;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .social-icons a {
    margin-right: 10px;
    color: #333;
    font-size: 20px;
  }
  .social-icons img {
    max-width: 100%; 
    height: auto; 
    width: 32px; 
  }
  
  .social-icons img:hover {
    transform: scale(1.1); 
    transition: transform 0.2s ease; 
  }
  
  .Reclamos form {
    display: flex;
    flex-direction: column;
  }
  
  .Reclamos button {
    background: #00bcd4;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  
  .footer-bottom .payment-methods img {
    height: 25px;
    margin-left: 10px;
  }
  
  